- breadcrumb_title "常规设置"
- @content_class = "limit-container-width" unless fluid_layout
- expanded = Rails.env.test?


%section.settings.gs-general.no-animate#js-general-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('General')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Update your group name, description, avatar, and other general settings.')
  .settings-content
    = render 'groups/settings/general'

%section.settings.gs-permissions.no-animate#js-permissions-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Permissions')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Enable or disable certain group features and choose access levels.')
  .settings-content
    = render 'groups/settings/permissions'

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('GroupSettings|Badges')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      = s_('GroupSettings|Customize your group badges.')
      = link_to s_('GroupSettings|Learn more about badges.'), help_page_path('user/project/badges')
  .settings-content
    = render 'shared/badges/badge_settings'

%section.settings.gs-advanced.no-animate#js-advanced-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Advanced')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Perform advanced options such as changing path, transferring, or removing the group.')
  .settings-content
    = render 'groups/settings/advanced'

= render 'shared/confirm_modal', phrase: @group.path
