= icon_for_profile_event(event)

.event-title
  %span.author_name= link_to_author(event)
  = event.action_name
  = render "events/event_scope", event: event

  = event_note_title_html(event)


.event-body
  .event-note
    .md
      = first_line_in_markdown(event.target, :note, 150, project: event.project)
    - note = event.target
    - if note.attachment.url
      - if note.attachment.image?
        = link_to note.attachment.url, target: '_blank' do
          = image_tag note.attachment.url, class: 'note-image-attach'
      - else
        = link_to note.attachment.url, target: '_blank',  class: 'note-file-attach' do
          %i.fa.fa-paperclip
          = note.attachment_identifier
