- @gfm_form = true

- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    = link_to '重新打开问题', issue_path(@issue, issue: {state_event: :reopen}, format: 'json'), data: {original_text: "重新打开问题", alternative_text: "评论并重新打开问题"}, class: "btn btn-nr btn-reopen btn-comment js-note-target-reopen #{issue_button_visibility(@issue, false)}", title: '重新打开问题'
    = link_to '关闭问题', issue_path(@issue, issue: {state_event: :close}, format: 'json'), data: {original_text: "关闭问题", alternative_text: "评论并关闭问题"}, class: "btn btn-nr btn-close btn-comment js-note-target-close #{issue_button_visibility(@issue, true)}", title: '关闭问题'

%section.js-vue-notes-event
  #js-vue-notes{ data: { notes_data: notes_data(@issue).to_json,
    noteable_data: serialize_issuable(@issue),
    noteable_type: 'Issue',
    target_type: 'issue',
    current_user_data: UserSerializer.new.represent(current_user, only_path: true).to_json } }
